*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    display: flex;
    justify-content: space-around;
    background-color: #FA704A;
}
li{
    margin-top: 15px;
}
.cn{
display: flex;
width: 200px;
height: 200px;
justify-content: center ;
margin: 30px 50px;
}
