*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    display: flex;
    justify-content: space-around;
    background-color: #FA704A;
}
li{
    margin-top: 15px;
}
#block{
    display: flex;
    /* flex-direction: column; */
    margin-top: 30px;
        justify-content:space-evenly;

}

.pro img{
    width: 400px;
    height: 300px;
    display: flex;
    /* margin: 50px; */
    /* justify-content: space-around; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
   
}   
.pro h2{
    margin-top: 20px;
}